<%= form_for([user, event], html: { id: 'event_form' }) do |f| %>
  <input type="hidden" id="event_id" value="<%= event&.id %>">
  <div class="form-group">
    <label>Tipo de evento *</label>
    <%= f.select 'event_type_id', options_for_select(EventType.active.order(:name).pluck(:name, :id), event.event_type_id), { prompt: 'Seleccione un tipo de evento'}, { class: 'form-control', required: true } %>
  </div>
  <div class="form-group">
    <label>Título *</label>
    <%= f.text_field 'title', class: 'form-control', placeholder: '', required: true %>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <%= f.text_area 'description', rows: 3, class: 'form-control', placeholder: '', required: false %>
  </div>
  <div class="form-group">
    <label>Fecha y hora de inicio *</label><br>
    <%= f.text_field 'starts_at', class: 'form-control', placeholder: '', required: true, readonly: true %>
  </div>
  <div class="form-group">
    <label>Fecha y hora de finalización*</label><br>
    <%= f.text_field 'ends_at', class: 'form-control', placeholder: '', required: true, readonly: true %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button type="button" class="btn btn-danger" id="btn-delete-event" data-id="<%= event.id %>"><i class="s7-trash"></i> Eliminar</button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="text-inverse">
            <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">Cerrar</button>
            <button class="btn btn-space btn-alt-color3" type="submit" id="btn-save-event">Guardar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>